[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-configurations = "*"
dj-database-url = "*"
django-debug-toolbar = "*"
django-extensions = "*"
"django-select2" = "*"
gunicorn = "*"
whitenoise = "*"
ipython = "*"
numpy = "==1.19.2"
scipy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
matplotlib = "*"
statsmodels = "*"
jupyter = "*"
jsonfield = "*"
jsonpickle = "*"
tzlocal = "*"
django-webpack-loader = "*"
djangorestframework = "*"
cobra = {extras = ["all"]}
nbconvert = "*"
nbstripout = "*"
sendgrid = "*"
django-datatables-view = "*"
django-cache-memoize = "*"
xlrd = "*"
notebook = ">=5"
cameo = "*"
loguru = "*"
"neo4j-driver" = "*"
pyparsing = "*"
pals-pathway = "*"
tqdm = "*"
bioservices = "*"
"reactome2py" = "*"
appnope = "*"
django-spaghetti-and-meatballs = "*"
#django-spaghetti = "*"
ncdu = "*"
spaghetti-and-meatballs = "*"

[dev-packages]

[requires]
python_version = "3"