[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4.0"
django-configurations = "*"
dj-database-url = "*"
django-debug-toolbar = "*"
django-extensions = "*"
"django-select2" = "*"
gunicorn = "*"
whitenoise = "*"
ipython = "<9.0"
numpy = "*"
scipy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
matplotlib = "*"
statsmodels = "*"
jupyter = "*"
jsonfield = "*"
jsonpickle = "*"
tzlocal = "*"
django-webpack-loader = "*"
djangorestframework = "*"
nbconvert = "*"
nbstripout = "*"
sendgrid = "*"
django-datatables-view = "*"
django-cache-memoize = "*"
xlrd = "*"
notebook = ">=5"
loguru = "*"
neo4j-driver = "*"
pyparsing = "*"
pals-pathway = "*"
tqdm = "*"
bioservices = "*"
"reactome2py" = "*"
appnope = "*"
django-spaghetti-and-meatballs = "*"
pymultiomics = "*"
django-maintenance-mode = "*"
python-http-client = "==3.3.6"

[dev-packages]

[requires]
python_version = "3.8.0"
