{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %}: A metabolomics atlas for Drosophila {% endblock %}

{% block head_block %}
    {% render_bundle 'index' 'css' %}
{% endblock %}

{% block body_block %}

    <!-- div for main body-->
    <div class="container-fluid px-4">

        <div>
            <p class="mt-2 strapline">
                FlyMet is a metabolomic atlas and metabolic resource for <i>Drosophila </i>,
                similar to our <a href="http://www.flyatlas.org">FlyAtlas</a> and <a href="http://www.flyatlas2.org">FlyAtlas2</a>
                gene expression databases.
            </p>
            <p class="mt-2 strapline">
                Here, you can search for individual metabolites and pathways found in <i>Drosophila</i> tissues or look
                at
                the comprehensive metabolite, peak and pathway data using the Explorers found in the navagation bar
                above.
            </p>

            <p class="mt-2 lead">
                Search for <i> individual Drosophila </i> metabolites or pathways in Tissues or Aged flies:
            </p>
        </div>

        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                {% for curr_category_desc, curr_analysis_id in all_categories %}
                    {% if curr_analysis_id == analysis_id %}
                        <a class="navdark nav-item nav-link active" href="{% url 'metabolite_search' analysis_id=curr_analysis_id %}">
                            {{ curr_category_desc }}
                        </a>
                    {% else %}
                        <a class="navdark nav-item nav-link" href="{% url 'metabolite_search' analysis_id=curr_analysis_id %}">
                            {{ curr_category_desc }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </nav>

        <!--Tabs to go to new pages-->
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'metabolite_search' analysis_id=analysis_id %}">Metabolites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pathway_search' analysis_id=analysis_id %}">Pathways</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pathway_metabolites' analysis_id=analysis_id %}">Pathway Metabolites</a>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <p class='mt-4 lead'>
                Quick start: Search for metabolites identified in <i>Drosophila</i> tissues.
            </p>
            <form action="{% url 'metabolite_search' analysis_id=1 %}" method="get" class="form-inline my-2 my-lg-0">
                {# TODO: replace with the analysis id from config #}
                <input id="metabolite_search" name='metabolite_search' class="form-control mr-sm-2" type="text"
                       placeholder="Metabolite Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

    </div>
    <!--Spacer so that content is not hidden-->
    <div class="spacer">
    </div>
    {% block js_block %}

        <script type='text/javascript'>
            var url = "{{json_url}}"
        </script>

        {% render_bundle 'index' 'js' %}
    {% endblock %}

{% endblock %}
