{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %}: A metabolomics atlas for Drosophila {% endblock %}

{% block head_block %}
  {% render_bundle 'index_age' 'css' %}
{% endblock %}

{% block body_block %}

  <!-- div for main body-->
  <div class="container-fluid px-4">

    <div>
      <p class="mt-2 strapline">
        FlyMet is a metabolomic atlas and multi-omics resource for <i>Drosophila </i>,
        similar to our <a href="http://www.flyatlas.org">FlyAtlas</a> and <a href="http://www.flyatlas2.org">FlyAtlas2</a>
        gene expression databases.
        </p>
        <p class="mt-2 strapline">
        Here, you can search for individual metabolites and pathways found in Drosophila aged flies or look at the comprehensive metabolite, peak,
        pathway and gene data using the Explorers found in the navagation bar above.
        </p>
    </div>

    <nav>
      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="navdark nav-item nav-link" href="{% url 'met_explore_index' %}">Tissues</a>
        <a class="navdark nav-item nav-link active" href="{% url 'index_age' %}">Aged Flies</a>
      </div>
    </nav>

    <h3 class = "mt-2 centre">Welcome to FlyMet!</h3>
    <p class = "centre">Click on a link or use the search boxes
    to start exploring FlyMet aged flies. All <a href="{% url 'feedback' %}">feedback</a> welcome!</p>
    <div class="card mt-4 p-2 pb-2 border border-table rounded">
      <div class="container-fluid pb-0 shaded" >
        <div class="row pb-0">
          <div class="myspan50 p-2 mt-2">
            <ul class="list-group list-group-flush">
              <li class="list-group-item lead shaded p-4">
              Investigate FlyMet metabolites using the  <a href="{% url 'met_age_all' 'All' %}">Metabolite Explorer</a>
              </li>
            <li class="list-group-item lead shaded p-4">
              Investigate FlyMet MS peaks using the <a href="{% url 'peak_age_explorer' 'All' %}">Peak Explorer</a>
            </li>
            <li class="list-group-item lead shaded p-4">
              Investigate ranked FlyMet pathways using the <a href="{% url 'pathway_age_explorer' %}">Pathway Explorer</a>
              </li>
            <li class="list-group-item lead shaded p-4">
                Investigate mapped FlyMet genes using the <a href="{% url 'gene_age_explorer' 'All' %}">Gene Explorer</a>
              </li>
              </ul>

          </div>
          <div class="myspan50 p-2 mt-2 mb-2">
            <div>
              <p class = 'lead'>
                 Quick start: Search for metabolites identified in <i>Drosophila</i> aged flies.
                </p>
                <form action="metabolite_search_age" method="get" class="form-inline my-2 my-lg-0">
                  <input id = "metabolite_search_age" name ='metabolite_search_age' class="form-control mr-sm-2" type="text" placeholder="Metabolite Search">
                  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div>
              <p class = 'mt-4 lead'>
                 Quick start: Search for pathways in <i>Drosophila</i> aged flies.
                </p>
                <form action="pathway_age_search" method="get" class="form-inline my-2 my-lg-0">
                  <input id = "pathway_age_search" name ='pathway_age_search' class="form-control mr-sm-2" type="text" placeholder="Pathway Search">
                  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div>
              <p class = 'mt-4 lead'>
                 Quick start: Search for pathways and associated metabolites in <i>Drosophila</i> aged flies.
                </p>
                <form action="pathway_age_metabolites" method="get" class="form-inline my-2 my-lg-0">
                  <input id = "pathway_age_metabolites" name ='pathway_age_metabolites' class="form-control mr-sm-2" type="text" placeholder="Pathway Met Search">
                  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
          </div>


      </div>
      </div>
      </div>


    </div>
    <!--Spacer so that content is not hidden-->
    <div class="spacer">
    </div>
    {% block js_block %}

    <script type='text/javascript'>
      var url = "{{json_url}}"
      var pwy_url = "{{json_pwy_url}}"
    </script>

      {% render_bundle 'index_age' 'js' %}
    {% endblock %}

{% endblock %}
