{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %}: A metabolomics atlas for Drosophila {% endblock %}

{% block head_block %}

{% endblock %}

{% block body_block %}

  <!-- div for main body-->
  <div class="container-fluid px-4">

    <div>
      <p class="mt-2 strapline">
        FlyMet is a metabolomic atlas and metabolic resource for <i>Drosophila </i>,
        similar to our <a href="http://www.flyatlas.org">FlyAtlas</a> and <a href="http://www.flyatlas2.org">FlyAtlas2</a>
        gene expression databases. Here, you can view the relative levels of metabolites across different tissues
        and life stages, and/or explore metabolic pathways.
        </p>
      <p class="mt-2 lead">
        Search for <i> Drosophila </i> enzymes, metabolites, pathways or tissue-types:
      </p>
    </div>

    <!--Tabs to go to new pages-->
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'enzyme_search' %}">Enzymes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'metabolite_search' %}">Metabolites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pathway_search' %}">Pathways</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tissue_search' %}">Tissues</a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <p class = 'mt-4 lead'>
        ..or jump straight in and search FlyMet <span class="bg-danger text-white p-2">[Universal Search currently Under Construction]</span>
        </p>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search FlyMet">
      <button class="btn btn-outline-primary my-2 my-sm-0"
      type="submit">Search</button>
    </form>
    </div>
    <div>
      <p class="mt-3 "> This is the Index page for the main searchable pages  - we need to decide what this should look like.
      Perhaps a general search box (above) to get the user started? </p>
    </div>
    </div>
    <!--Spacer so that content is not hidden-->
    <div class="spacer">
    </div>


{% endblock %}
