{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %} Metabolite Tissue Compare {% endblock %}

{% block head_block %}
    {% render_bundle 'met_ex_comp_tissue' 'css' %}
{% endblock %}

{% block body_block %}
    <!-- div for main body-->

    <div class="container-fluid p-4">
        <!-- Splitting into two columns using flex to display the logo-->
        <div class="logo_row">
            <div class="logo_main mt-4">
                <p class="lead">
                    Investigate the metabolites found in <i> {{ species }} </i>.
                </p>
            </div>
        </div>
        <!-- extra Tabs for Analysis type -->
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                {% for curr_category_desc, curr_analysis_id in all_categories %}
                    {% if curr_analysis_id == analysis_id %}
                        <a class="navdark nav-item nav-link active"
                           href="{% url 'met_ex_comp_tissue' analysis_id=curr_analysis_id %}">
                            {{ curr_category_desc }}
                        </a>
                    {% else %}
                        <a class="navdark nav-item nav-link"
                           href="{% url 'met_ex_comp_tissue' analysis_id=curr_analysis_id %}">
                            {{ curr_category_desc }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </nav>

        <!--Tabs to go to new pages-->
        <div class="card text-center">
            <div class="card-header">

                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'met_ex_all' analysis_id=analysis_id cmpd_list='All' %}">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'met_ex_tissues' analysis_id=analysis_id %}">Identified</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'met_ex_comp_tissue' analysis_id=analysis_id %}">
                            {% if is_fly_tissue_data or is_fly_age_data %}
                                {{ control_label | title }} Comparisons
                            {% else %}
                                Comparisons
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <div class="top-right">
                    <p class="title_text">Metabolite Explorer</p>
                </div>
            </div>
        </div>
        <div class="mt-4 mb-4">
            <p>
                The log<sub>2</sub> fold-change (FC) in metabolite intensity levels between <i>{{ species }}</i>
                {{ current_category }} and {{ control_label }}.
            </p>
            <p class="small">
                The metabolites in this list have a high confidence score having been <a href="#" class="Identified">identified</a>
                by
                a standard compound library or by <a href="#" class="FragA">fragmentation analysis</a>. Expansion of
                these terms can be found in the <a href="{% url 'glossary' %}">Glossary</a>
            </p>

        </div>

        <div>
            <table id="compare_list" class="table-sm table-bordered table-hover table-striped nowrap"
                   style="width:100%">
                <thead class="thead-light">
                <tr id="columns">
                    {% for column_name in columns %}
                        <th class="col">{{ column_name }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for metabolite_row in compare_data %}
                    <tr>
                        {% for m in metabolite_row %}
                            {% if forloop.first %}
                                <td><a href="metabolite_search/{{ analysis_id }}?metabolite_search_tissue={{ m }}"
                                       target="_blank">{{ m }}</a></td>
                            {% else %}
                                {% if m == '-' %}
                                    <td class="NotDetected">-</td>
                                {% else %}
                                    <!-- <td> {{m}} </td> -->
                                    <td>{{ m|floatformat:2 }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

    <!--end of main div-->
    <!--Spacer so that content is not hidden-->
    <div class="spacer">
    </div>


{% endblock %}


{% block js_block %}
    <script type='text/javascript'>
        var min_value =
        {{min_value}}
        var max_value =
        {{max_value}}
        var mean_value = {{mean_value}}
            console.log(min_value, mean_value, max_value)

        const analysis_id = {{ analysis_id }};
        const is_fly_tissue_data =  {{ is_fly_tissue_data | yesno:"true,false" }};
        const is_fly_age_data = {{ is_fly_age_data | yesno:"true,false" }};
        const case_label = "{{ case_label }}";
        const control_label = "{{ control_label }}";
        console.log(analysis_id, is_fly_tissue_data, is_fly_age_data)

    </script>

    {% render_bundle 'met_ex_comp_tissue' 'js' %}
{% endblock %}
