{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %} Metabolite Explorer All Metabolites {% endblock %}

{% block head_block %}
    {% render_bundle 'met_ex_all' 'css' %}
{% endblock %}

{% block body_block %}
  <!-- div for main body-->

  <div class="container-fluid p-4">
    <!-- Splitting into two columns using flex to display the logo-->
    <div class="logo_row">
      <div class="logo_main mt-4">
        <p class="lead">
          Investigate the metabolites found in <i> Drosophila </i>.
          </p>
        </div>
      </div>

  <!--Tabs to go to new pages-->
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'met_ex_all' %}">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'met_ex_tissues' %}">Identified</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'met_ex_mutants' %}">Mutants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'met_ex_gconditions' %}">Growth Conditions</a>
        </li>
      </ul>
      <div class="top-right" >
        <p class ="title_text">Metabolite Explorer</p>
      </div>
    </div>
  </div>

  <div class="card mt-4 p-2 pb-2 border border-table rounded">
    <div class="container-fluid pb-0" >
      <div class="row pb-0">
        <div class="myspan80 p-2 mt-2">
          <p>Columns can be dragged to reorganise the data as required.</p>
          <table id="metabolite_list" class="display table-sm table-bordered table-hover table-striped nowrap" style="width:100%">
            <thead class="thead-light">
              <tr id = "columns">
                {% for column_name in columns %}
                  {% if column_name == 'cmpd_id' %}
                    <th class = "cmpd_id" >{{column_name}}</th>
                    {% else %}
                    <th class = {{column_name}} >{{column_name}}</th>
                    {% endif %}
                {% endfor %}
              </tr>
            </thead>
          </table>
        </div>

        <div class="myspan20 pl-2 pr-2 pt-2 rounded" style="height:100vh; overflow:scroll">
          <fieldset id="click_info" class="fieldset-details">
            <legend class="sidebar">Related Peaks</legend>
            <div class="p-2">
              <p class="m-2">Click on a metabolite to see the related peaks</p>
            </div>
          </fieldset>

          <fieldset class="peak_details fieldset-details">
            <legend class="sidebar">Related Peaks</legend>
            <div class="pr-2 pl-2">
              <p id ="compound_id" class="m-2"></p>

              <div class="row">
                <div class ="col-6">
                <input type="radio" name="radio_adducts" id="filtered" autocomplete="off" checked=""> <small>M+H/M-H</small>
                </div>
                <div class ="col-6">
                <input type="radio" name="radio_adducts" id="all_adducts" autocomplete="off"><small>All adducts</small>
                </div>
              </div>
              <p class='pt-2 pb-0 mb-0'>Key: <span class="I badge badge-pill badge-success">I</span><span class="F badge badge-pill badge-warning">F</span><span class="A badge badge-pill badge-danger">AX</span></p>
              </div>
              <div id='dataDiv'>

              </div>
            </fieldset>

            </div>

        </div>
        </div>
        </div>

  </div>

  <!--end of main div-->
  <!--Spacer so that content is not hidden-->
  <div class="spacer">
  </div>

  {% render_bundle 'met_ex_all' 'js' %}

  {% endblock %}
