{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %} Metabolite Age Compare {% endblock %}

{% block head_block %}
    {% render_bundle 'met_ex_comp_age' 'css' %}
{% endblock %}

{% block body_block %}
  <!-- div for main body-->

  <div class="container-fluid p-4">
    <!-- Splitting into two columns using flex to display the logo-->
    <div class="logo_row">
      <div class="logo_main mt-4">
        <p class="lead">
          Investigate the metabolites found in <i> Drosophila </i>.
          </p>
        </div>
      </div>
      <!-- extra Tabs for Analysis type -->
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="navdark nav-item nav-link" href="{% url 'met_ex_tissues' %}">Tissues</a>
          <a class="navdark nav-item nav-link active" href="{% url 'met_age_id' %}">Aged Flies</a>
        </div>
      </nav>

  <!--Tabs to go to new pages-->
  <div class="card text-center">
    <div class="card-header">

      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'met_ex_all' 'All' %}">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'met_ex_tissues' %}">Identified</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'met_ex_comp_age' %}">Whole Comparisons</a>
        </li>
      </ul>
      <div class="top-right" >
        <p class ="title_text">Metabolite Explorer</p>
      </div>
    </div>
  </div>
  <div class="mt-4 mb-4">
    <p>
      The log<sub>2</sub> fold-change (FC) in metabolite intesity levels between <i>Drosophila</i> aged and 7 day old flies.
    </p>
    <p class="small">
    The metabolites in this list have a high confidence score having been
    <a href="#" class ="Identified">identified</a> by a standard compound libary or by <a href ="#" class="FragA">fragmentation analysis</a>.
    Expansion of these trems can be found in the <a href="{% url 'glossary'%}">Glossary</a>
    </p>

  </div>

  <div>
    <table id="compare_list" class="table-sm table-bordered table-hover table-striped nowrap" style="width:100%">
      <thead class="thead-light">
        <tr id = "columns">
          {% for column_name in columns %}
          <th class = "col">{{column_name}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for metabolite_row in compare_data %}
        <tr>
              {% for m in metabolite_row %}
              {% if forloop.first %}
                <td><a href="metabolite_search_age?metabolite_search_age={{m}}" target="_blank">{{m}}</a></td>
              {% else %}
                {% if m == '-' %}
                <td class="NotDetected">-</td>
                {% else %}
                <!-- <td> {{m}} </td> -->
                <td>{{m|floatformat:2}}</td>
                {% endif %}
              {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

  </div>

  <!--end of main div-->
  <!--Spacer so that content is not hidden-->
  <div class="spacer">
  </div>


  {% endblock %}


  {% block js_block %}
  <script type='text/javascript'>
    var min_value = {{min_value}}
    var max_value = {{max_value}}
    var mean_value = {{mean_value}}
    console.log(min_value, mean_value, max_value)

    </script>

  {% render_bundle 'met_ex_comp_age' 'js' %}
  {% endblock %}
