{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %} Metabolite Tissue Lists{% endblock %}

{% block head_block %}
    {% render_bundle 'metabolite_list' 'css' %}
{% endblock %}

{% block body_block %}
  <!-- div for main body-->

  <div class="container-fluid p-4">
    <!-- Splitting into two columns using flex to display the logo-->
    <div class="logo_row">
      <div class="logo_main mt-4">
        <p class="lead">
          Investigate the metabolites found in <i> Drosophila </i>.
          </p>
        </div>
        <div class = "logo_side">
          <img src="{% static 'images/met_exp_logo.png'%}" class="explorer_logos" alt="Met_Ex_Logo">
        </div>
      </div>

  <!--Tabs to go to new pages-->
  <div class="card text-center">
    <div class="card-header">

      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'met_ex_tissues' %}">Tissues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'met_ex_lifestages' %}">Life Stages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'met_ex_mutants' %}">Mutants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'met_ex_gconditions' %}">Growth Conditions</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <p class="mt-4 mb-4" >
    The average peak intensity levels for metabolites in different <i>Drosophila</i> tissues
    </p>
  </div>

  <div>
  <table id="met_list" class="table-sm table-bordered table-hover table-striped nowrap" style="width:100%">
    <thead class="thead-light">
      <tr id = "columns">
        {% for column_name in columns %}
        <th id = "col">{{column_name}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for met_exp_data in data %}
      <tr>
            {% for m in met_exp_data %}
            {% if forloop.first %}
              <td>{{m}}</td>
            {% else %}
              {% if m > 0 %}
                <td>{{m|stringformat:".2e"}}</td>
                {% else %}
                <td class="NotDetected">-</td>
              {% endif %}
            {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

  </div>

  <!--end of main div-->
  <!--Spacer so that content is not hidden-->
  <div class="spacer">
  </div>


  {% endblock %}


  {% block js_block %}
  <script type='text/javascript'>
    var min_value = {{min_value}}
    var max_value = {{max_value}}
    var mean_value = {{mean_value}}
    console.log(min_value, max_value, mean_value)

    </script>

  {% render_bundle 'metabolite_list' 'js' %}
  {% endblock %}
