{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %} Search Metabolites {% endblock %}

{% block head_block %}
    {% render_bundle 'metabolite_search' 'css' %}
{% endblock %}

{% block body_block %}

  <!-- div for main body-->
  <div class="container-fluid p-4">

    <div>
      <p class="mt-2 lead">
        Choose to search for <i> Drosophila </i> enzymes, metabolites, pathways or tissue-types:
      </p>
    </div>

    <!--Tabs to go to new pages-->
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'enzyme_search' %}">Enzymes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'metabolite_search' %}">Metabolites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pathway_search' %}">Pathways</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tissue_search' %}">Tissues</a>
          </li>
        </ul>
      </div>
    </div>

    <!--Search info and box-->
    <div>
      <p class="mt-4 mb-1" >
        Search for a <b>metabolite</b> and find out the abundance in <i> Drosophila </i> tissues:
      </p>
    </div>

    <form action="metabolite_search" method="get" class="form-inline my-2 my-lg-0">
      <input id = "metabolite_search" name ='metabolite_search' class="form-control mr-sm-2" type="text" placeholder="Metabolite Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>

    <!--Div for a single table-->
    {% if metabolite|length > 0 %}
    <div class="card mt-4 p-2 pb-2 border border-table rounded">

      {% if met_table_data|length == 0%}
      <div class="card-header pb-0 table-card-header">
      {{metabolite}} is not an identified metabolite, please search again.
      </div>
      {% endif %}

      {% if met_table_data|length > 0 %}
      <div class="card-header pb-0 table-card-header">
      {{metabolite}} levels in <i> Drosophila </i> tissues
      </div>
      <div class="container-fluid pb-0" >
        <div class="row pb-0">
          <div class="myspan75 p-2 mt-2">

            <table id="tissue_met_table" class="table-sm table-bordered table-hover table-striped dt-responsive nowrap" style="width:100%">
              <thead class="thead-light">
                <tr>
                  <th class="data">Tissue-Type</th>
                  <th class="AM_met_WT_ratio data">Adult Female FC</th>
                  <th class="AF_met_WT_ratio data">Adult Male FC</th>
                  <th class="L_met_WT_ratio data">Larvae FC</th>
                </tr>
              </thead>
              <tbody>
                {% for met_exp_data in met_table_data %}
                <tr>
                      {% for m in met_exp_data %}
                      {% if forloop.first %}
                        <td data-tissue='{{m}}'>{{m}}</td>
                      {% else %}
                      {% if m == "NM" %}
                        <td data-order="-192892739724" class = "notMeasured">nm</td>
                      {% elif m == "-" %}
                          <td data-order="-192892739" class = "notDetected">{{m}}</td>
                      {% else %}
                            <td data-order={{m}}>{{m}}</td>
                      {% endif %}
                      {% endif %}
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <!--Bottom infopanel Div-->
            <fieldset class="fieldset-details">
              <legend>Pathways containing {{metabolite}} </legend>
              <div class="p-2">
                <ul>
                  <li><a href="{% url 'pathway_search' %}">{{metabolite}} catabolism</a>
                    <p class="m-2">This is currently a placeholder for pathways containing {{metabolite}}.</p>
                  </li>
                  <li><a href="#!">{{metabolite}}, lysine, phenylalanine, tyrosine, proline and tryptophan catabolism</a>
                    <p class="m-2">This event has been computationally inferred from an event that has been demonstrated in another species.</p>
                  </li>
                  <li><a href="#!">Synthesis of {{metabolite}}</a>
                    <p class="m-2">This event has been computationally inferred from an event that has been demonstrated in another species.</p>
                  </li>
                </ul>
              </div>
            </fieldset>
          </div>
          <!-- End of main div myspan75 -->

          <div class="myspan25 pl-2 pr-2 pt-2" style="height:100vh; overflow:scroll">
            <fieldset class="fieldset-details">
              <legend class="sidebar"><a data-toggle="modal" href="#cmpd_Modal">{{metabolite}}</a></legend>

              <div class="container-fluid">
                <div class="row">
                  <div class="mol_span50_L">

                      {% if references.kegg_id is not None %}
                      <a href="https://www.genome.jp/dbget-bin/www_bget?{{references.kegg_id}}">
                      <img class="molecule_image float-left" src="https://www.genome.jp/Fig/compound/{{references.kegg_id}}.gif" alt="Logo"></a>
                      {% elif references.kegg_id is None %}
                      <a href="https://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:27570">
                      <img class="molecule_image float-left" src="{% static 'images/awaiting_image.png'%}"" alt="Waiting"></a>
                      {% endif %}
                    </div>
                    <div class = "mol_span50_R pl-2 molecule_div">
                      <ul class="molecule_list pl-2">
                        <li class="pb-2"><u>Formula:</u> {{references.formula}}</li>
                        <li class="pb-2"><u>Neutral Mass:</u> {{references.mass|stringformat:".2f"}}</li>
                      </ul>

                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset id="click_info" class="fieldset-details">
                <div class="p-2">
                  <p class="m-2">Click on a tissue-type to see the intensities of the peaks associated with {{metabolite}}</p>
                </div>
              </fieldset>

              <!-- </divs> for the peak data and graphs-->
              <fieldset class="peak_details fieldset-details">
                <legend class="sidebar">Peak Info</legend>
                <div class="p-2">
                  {% if references.identified == 'True' %}
                  <span id="I" class="badge badge-pill badge-success">I</span>
                  {% elif references.frank_annots %}
                  <span id ="F" class="badge badge-pill badge-primary">F</span>
                  {{references.frank_annots.probability}}
                  {% else %}
                  <span id="A" class="badge badge-pill badge-warning">A15</span>
                  {% endif %}
                  <hr>
                  <div class="row">
                    <div class="col-sm-6 peak_data"><b>Ion: </b>{{references.adduct}}</div><div class="col-sm-6 peak_data"><b>RT: </b>{{references.rt|stringformat:".2f"}}</div>
                    <br>
                  </div>
                  <div class ="row">
                    <div class="col-sm-6 peak_data"><b>m/z: </b>{{references.mz|stringformat:".2f"}}</div><div class="col-sm-6 peak_data"><b>Neutral Mass: </b>{{references.mass|stringformat:".2f"}}</div>
                  </div>
                </div>
                <div class="p-2">
                  <p id="tissue_type1"></p>
                </div>
                <div id="highchart" class="p-4">
                </div>
              </fieldset>
            </div>
            <!-- End of side bar divs -->
          </div>
        </div>
        {% endif %}
        {% endif %}
      </div>
    </div>

    <!--end of main div-->
    <!--Footer end-->

    <!-- The Modal -->
    <div class="modal" id="cmpd_Modal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title">{{metabolite}} Cross References:</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body row">
            <div class="col-sm-12">
              <h6> DB Identifiers: </h6>
              <ul>
                <li> <span class= "modal_list_items">ChEBI:</span><a href="https://www.ebi.ac.uk/chebi/searchId.do?chebiId={{references.chebi_id}}" class="tab" >{{references.chebi_id}}</a></li>
                <li><span class= "modal_list_items">Kegg:</span> <a href="https://www.genome.jp/dbget-bin/www_bget?{{references.kegg_id}}" class="tab" >{{references.kegg_id}}</a></li>
                <li><span class= "modal_list_items">CAS Number: </span><span>{{references.cas_code}}  </span>
                <li><span class= "modal_list_items">HMDB:</span> <a href="http://www.hmdb.ca/metabolites/{{references.hmdb_id}}" class="tab" >{{references.hmdb_id}}</a></li>
              </ul>
        <!-- </div> -->
        <!-- <div class="col-md-6"> -->

          <h6>Universal Identifiers: </h6>
          <ul >
            <li> <span class= "modal_list_items">InChIKey: </span><span class="tab"> {{references.inchikey}}</span></li>
            <li> <span class= "modal_list_items">Smiles: </span><span class="tab"> {{references.smiles}}</span></li>
          </ul>
        </div>
      <!-- </div> -->
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

{% endblock %}

  {% block js_block %}

  <script type='text/javascript'>

    var metabolite = "{{metabolite | safe}}" //Django template using html which fails.
    var url = "{{json_url}}"

      var min = {{min}}
      var max = {{max}}
      var mid = {{mean}}

    console.log("using values", min, mid, max, metabolite)
  </script>

    {% render_bundle 'metabolite_search' 'js' %}
{% endblock %}
