{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %} Search Pathways {% endblock %}

{% block head_block %}
    {% render_bundle 'pathway_search' 'css' %}
    <script type="text/javascript" language="javascript"
            src="https://reactome.org/DiagramJs/diagram/diagram.nocache.js"></script>
{% endblock %}

{% block body_block %}

    <!-- div for main body-->
    <div class="container-fluid p-4">

    <div>
        <p class="mt-2 lead">
            Choose to search for <i> Drosophila </i> metabolites or pathways:
        </p>
    </div>

    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            {% for curr_category_desc, curr_analysis_id in all_categories %}
                {% if curr_analysis_id == analysis_id %}
                    <a class="navdark nav-item nav-link active"
                       href="{% url 'pathway_search' analysis_id=curr_analysis_id %}">
                        {{ curr_category_desc }}
                    </a>
                {% else %}
                    <a class="navdark nav-item nav-link" href="{% url 'pathway_search' analysis_id=curr_analysis_id %}">
                        {{ curr_category_desc }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </nav>

    <!--Tabs to go to new pages-->
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'metabolite_search' analysis_id=analysis_id %}">Metabolites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'pathway_search' analysis_id=analysis_id %}">Pathways</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pathway_metabolites' analysis_id=analysis_id %}">Pathway
                        Metabolites</a>
                </li>
            </ul>
        </div>
    </div>


    <!--Search info and box-->
    <div>
        <p class="mt-4 mb-1">
            Search for a <b>pathway</b> and find out which metabolites are present in <i> {{ species }}
        </i>.
        </p>
    </div>

    <form action="{% url 'pathway_search' analysis_id=analysis_id %}" method="get" class="form-inline my-2 my-lg-0">
        <input id="pathway_search" name='pathway_search' class="form-control mr-sm-2" type="text"
               placeholder="Pathway Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>

    {#    <!-- age -->#}
    {#    <form action="pathway_age_search" method="get" class="form-inline my-2 my-lg-0">#}
    {#        <input id="pathway_age_search" name='pathway_age_search' class="form-control mr-sm-2" type="text"#}
    {#               placeholder="Pathway Search">#}
    {#        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>#}
    {#    </form>#}

    <!--Div for a single table-->
    {% if pathway_name|length > 0 %}
        <div class="card mt-4 p-2 pb-2 border border-table rounded">

            {% if pathway_id|length == 0 %}
                <div class="card-header pb-0 table-card-header">
                    {{ pathway_name }} is not a known <i> {{ species }} </i> Reactome pathway, please choose from the
                    drop-down list.
                </div>
            {% endif %}

            {% if pathway_id|length > 0 %}
                <div class="info card-header pb-0 table-card-header">
                    {{ pathway_name }} and metabolites found in <i> {{ species }} </i> {{ current_category|lower }}.
                    <p><small>
                        The smallest p-values reveal {{ current_category|lower }} with the most significant changes in
                        the pathway
                        metabolites, between the case and control groups in {{ species }}.<br/>
                        Case: {{ case_label }}<br/>
                        Control: {{ control_label }}
                    </small></p>
                </div>
            {% endif %}
            {% if pathway_id|length > 0 %}
                <div class="pathway_details card mt-4 p-2 pb-2 border border-table rounded">
                    <div class="container-fluid pb-0">
                        <div class="row pb-0">
                            <div class="myspan75 p-2 mt-2">
                                <table id="pwy_table" class="table-sm table-bordered table-hover table-striped nowrap"
                                       style="width:100%">

                                    {% if single_factor %}

                                        <thead class="thead-light">
                                        <tr>
                                            <th class="col vw150">{{ current_category }}</th>
                                            <th class="col vw150">p-value</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for pwy_data in pwy_table_data %}
                                            <tr>
                                                {% for p in pwy_data %}
                                                    <th class="col vw150">{{ c }}/{{ control_label }} p-value</th>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>

                                    {% else %}
                                        <thead class="thead-light">
                                        <tr>
                                            <th class="col vw150">{{ current_category }}</th>
                                            <!-- special hardcoding for FlyMet tooltip -->
                                            {% for c in columns %}
                                                {% if c == "Female" %}
                                                    <th id='AF-pvalue' class="col vw150">Adult F/W p-value</th>
                                                {% elif c == "Male" %}
                                                    <th id='AM-pvalue' class="col vw150">Adult M/W p-value</th>
                                                {% elif c == "Larvae" %}
                                                    <th id='L-pvalue' class="col vw150">Larvae/W p-value</th>
                                                {% else %}
                                                    <th class="col vw150">{{ c }}/{{ control_label }} p-value</th>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for pwy_data in pwy_table_data %}
                                            <tr>
                                                {% for p in pwy_data %}
                                                    {% if forloop.first %}
                                                        <td class="vw150">{{ p }}</td>
                                                    {% else %}
                                                        {% if p == "NM" %}
                                                            <td class="vw150">nm</td>
                                                        {% else %}
                                                            <td class="vw150">{{ p }}</td>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>

                                    {% endif %}

                                </table>

                                <hr class="my-3">
                                <div id="diagramTitle">
                                </div>
                                <div id="diagramHolder">
                                </div>
                                <div id="diagram_info">
                                    <hr class="my-3">
                                    <p> In this diagram the overrepresentation shown as <img
                                            src="{% static 'images/reactome_highlight.png' %}" class="tiny_img"
                                            alt="ReactomeH">
                                        highlights compounds (with associated peaks) that are found</p>
                                </div>
                            </div>

                            <div class="pathway_details myspan25 sticky-top pl-2 pr-2 pt-2 rounded"
                                 style="height:100vh; overflow:scroll">
                                <fieldset class="fieldset-details">
                                    <legend class="sidebar">Selected Pathway</legend>
                                    <div class="p-2">
                                        <p id="pwy_id" class="m-2"></p>
                                    </div>

                                    <hr class="my-3">
                                    <!-- <legend class="sidebar">Metabolites</legend> -->
                                    <div id='dataDiv' class="p-2">

                                    </div>
                                </fieldset>

                            </div>
                        </div>

                    </div>

                </div>
                </div>
            {% endif %}
    {% endif %}




    <!--end of main div-->
    <!--Spacer so that content is not hidden-->
    <div class="spacer">
    </div>

{% endblock %}

{% block js_block %}
    <script type='text/javascript'>
        var url = "{{json_url}}"
        var analysis_id = "{{analysis_id | safe}}"
        var pathway_name = "{{pathway_name | safe}}" //Django template using html which fails.
        var pathway_id = "{{pathway_id| safe}}"
        // var num_metabolites = {{num_metabolites}}
        var reactome_token = "{{reactome_token | safe}}"
        var pals_min =
        {{pals_min}}
        var pals_max =
        {{pals_max}}
        var pals_mid = {{pals_mean}}
            console.log("pathway_id", pathway_id)
        console.log("pathway name", pathway_name)
        // console.log("num_metabolites", num_metabolites)


    </script>

    {% render_bundle 'pathway_search' 'js' %}
{% endblock %}
