{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %} Peak M/F Tissue Compare {% endblock %}

{% block head_block %}
    {% render_bundle 'peak_mf_compare' 'css' %}
{% endblock %}

{% block body_block %}

    <div class="container-fluid p-4">
        <!-- Splitting into two columns using flex to display the logo-->
        <div class="logo_row">
            <div class="logo_main mt-4">
                <p class="lead">
                    {% if is_fly_tissue_data or is_fly_age_data %}
                        Investigate the metabolite peaks found in <i>Drosophila</i> tissues and Aged Flies.
                    {% else %}
                        Investigate the metabolite peaks found in <i> {{ species }} </i>.
                    {% endif %}
                </p>
            </div>
        </div>

        {% if is_fly_tissue_data %}

            <!-- extra Tabs for Analysis type -->
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="navdark nav-item nav-link active"
                       href="{% url 'peak_mf_compare' analysis_id=2 %}">Tissues</a>
                    <a class="navdark nav-item nav-link" href="{% url 'peak_mf_compare' analysis_id=4 %}">Aged Flies</a>
                </div>
            </nav>

            <!--Tabs to go to new pages-->
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'peak_explorer' analysis_id=1 peak_list='All' %}">Intensities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'peak_ex_compare' analysis_id=1 peak_compare_list='All' %}">
                                Tissue/Whole
                                Comparisons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'peak_mf_compare' analysis_id=2 %}">M/F
                                Comparisons</a>
                        </li>
                    </ul>
                    <div class="top-right">
                        <p class="title_text">Peak Explorer</p>
                    </div>
                </div>
            </div>

            <div>
                <p class="mt-4 mb-4">
                    The log<sub>2</sub> fold-change (FC) in peak intensity levels between tissues in Male and Female <i>Drosophila</i>.
                </p>
            </div>

        {% elif is_fly_age_data %}

            <!-- extra Tabs for Analysis type -->
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="navdark nav-item nav-link" href="{% url 'peak_mf_compare' analysis_id=2 %}">Tissues</a>
                    <a class="navdark nav-item nav-link active" href="{% url 'peak_mf_compare' analysis_id=4 %}">Aged
                        Flies</a>
                </div>
            </nav>

            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'peak_explorer' analysis_id=3 peak_list='All' %}">Intensities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'peak_ex_compare' analysis_id=3 peak_compare_list='All' %}">Age/Whole
                                Comparisons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'peak_mf_compare' analysis_id=4 %}">M/F Age
                                Comparisons</a>
                        </li>
                    </ul>
                    <div class="top-right">
                        <p class="title_text">Peak Explorer</p>
                    </div>
                </div>
            </div>

            <div>
                <p class="mt-4 mb-4">
                {% if is_fly_tissue_data %}
                    The log<sub>2</sub> fold-change (FC) in peak intensity levels between tissues in aged Male and
                    Female <i>Drosophila</i>
                {% elif is_fly_age_data %}
                    The log<sub>2</sub> fold-change (FC) in peak intensity levels between aged Male and Female </i>Drosophila</i>
                {% else %}
                    The log<sub>2</sub> fold-change (FC) in peak intensity levels between <i>{{ species }}</i> {{ case_label }} and
                    {{ control_label }}
                {% endif %}
                </p>
            </div>

        {% endif %}

        <div class="card mt-4 p-2 pb-2 border border-table rounded">
            <div class="container-fluid pb-0">
                <div class="row pb-0">
                    <div class="myspan80 p-2 mt-2">
                        <p>Columns can be dragged to reorganise the data as required.</p>
                        <table id="peak_list" class="table-sm table-bordered table-hover table-striped nowrap"
                               style="width:100%">
                            <thead class="thead-light">
                            <tr id="columns">
                                {% for column_name in columns %}
                                    <th class="col">{{ column_name }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        </table>
                    </div>


                    <div class="myspan20 pl-2 pr-2 pt-2 rounded" style="height:100vh; overflow:scroll">
                        <fieldset id="click_info" class="fieldset-details">
                            <legend class="sidebar">Peak Annotations</legend>
                            <div class="p-2">
                                <p class="m-2">Click on a peak to see the metabolites associated with it.</p>
                            </div>
                        </fieldset>

                        <fieldset class="peak_details fieldset-details">
                            <legend class="sidebar">Peak Annotations</legend>
                            <div class="p-2">
                                <p id="peak_id"></p>

                                <div class="row">
                                    <div class="col-6">
                                        <input type="radio" name="radio_adducts" id="filtered" autocomplete="off"
                                               checked=""> <small>M+H/M-H</small>
                                    </div>
                                    <div class="col-6">
                                        <input type="radio" name="radio_adducts" id="all_adducts"
                                               autocomplete="off"><small>All adducts</small>
                                    </div>
                                </div>
                            </div>

                            <hr class="my-3">


                            <div id='dataDiv'>

                            </div>
                        </fieldset>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <!--end of main div-->
    <!--Spacer so that content is not hidden-->
    <div class="spacer">
    </div>


{% endblock %}


{% block js_block %}
    <script type='text/javascript'>
        const min_value = {{min_value}};
        const max_value = {{max_value}};
        const mean_value = {{mean_value}};
        const peak_mf_list = "{{peak_mf_list | safe}}"
        const analysis_id = {{ analysis_id }};
        const linked_analysis_id = {{ linked_analysis_id }};
        const is_fly_tissue_data =  {{ is_fly_tissue_data | yesno:"true,false" }};
        const is_fly_age_data = {{ is_fly_age_data | yesno:"true,false" }};
        const case_label = "{{ case_label }}";
        const control_label = "{{ control_label }}";
        console.log(min_value, mean_value, max_value, peak_mf_list, analysis_id, linked_analysis_id,
                    is_fly_tissue_data, is_fly_age_data, case_label, control_label);
    </script>

    {% render_bundle 'peak_mf_compare' 'js' %}
{% endblock %}
