{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %} Search Metabolites {% endblock %}

{% block head_block %}
    {% render_bundle 'metabolite_search' 'css' %}
{% endblock %}

{% block body_block %}

  <!-- div for main body-->
  <div class="container-fluid p-4">

    <div>
      <p class="mt-2 lead">
        Choose to search for <i> Drosophila </i> enzymes, metabolites, pathways or tissue-types:
      </p>
    </div>

    <!--Tabs to go to new pages-->
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'enzyme_search' %}">Enzymes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'metabolite_search' %}">Metabolites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pathway_search' %}">Pathways</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'tissue_search' %}">Tissues</a>
          </li>
        </ul>
      </div>
    </div>

    <!--Search info and box-->
  <div>
    <p class="mt-4 mb-1" >
    Search for a <b>tissue-type</b> and find out which <i> Drosophila </i> metabolic pathways rank most highly:
    </p>
    <p><span class="bg-danger text-white p-2">Coming soon</span></p>
  </div>

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Tissue Search">
    <button class="btn btn-outline-primary my-2 my-sm-0"
    type="submit">Search</button>
  </form>
  </div>
  <!--end of main div-->
  <!--Spacer so that content is not hidden-->
  <div class="spacer">
  </div>

  <!--Footer end-->
  {% endblock %}
