<!DOCTYPE html>
{% load static %}
{% load render_bundle from webpack_loader %}
<html lang="en">
<head>

    <base href="/met_explore/">


    <!-- The following 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <title>{{ project_name }}{% block title %}{% endblock %}</title>


    <!-- Any other additional things you want to include .. -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141755339-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-141755339-1');
    </script>

    {% render_bundle 'base' 'css' %}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco" rel="stylesheet">
    <!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" /> -->
    <style>
        :root {
        {% if color_scheme %}
            --colour-scheme: {{ color_scheme }};
        {% endif %}
        }
    </style>
    {% block head_block %}

    {% endblock %}

</head>
<body role="document">
<!-- Start of Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1"
            aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span>
        {% if header_logo and header_logo_alt %}
            <div class="img-container">
            <a class="navbar-brand img_responsive" href="{% url 'met_explore_index' %}">
            <img src="{% static '' %}images/{{ header_logo }}" alt="{{ header_logo_alt }}">
            <div class="overlay">
          <span>Home</span>
   </div>
        {% endif %}
        </a>
        </div>
  </span>
    <div class="collapse navbar-collapse justify-content-between" id="navbar1">
        <ul class="navbar-nav">
            {% if project_name == 'FlyMet' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About FlyMet</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'met_ex_all' analysis_id=analysis_id cmpd_list='All' %}">Metabolite
                    Explorer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'peak_explorer' analysis_id=analysis_id peak_list='All' %}">Peak
                    Explorer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pathway_explorer' analysis_id=analysis_id %}">Pathway Explorer</a>
            </li>
            {% if project_name == 'FlyMet' %}
                {% if is_fly_tissue_data %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gene_tissue_explorer' 'All' %}">Gene Explorer</a>
                    </li>
                {% elif is_fly_age_data %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gene_age_explorer' 'All' %}">Gene Explorer</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'met_explore_index' %}">Home</a>
            </li>
        </ul>
        {#        <form class="form-inline my-2 my-lg-0">#}
        {#            <input class="form-control mr-sm-2" type="text" placeholder="Search">#}
        {#            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>#}
        {#        </form>#}
    </div>
</nav>
<ul class="list-inline">
    {% if sponsor1_logo and sponsor1_logo_alt %}
        <li class=" right list-inline-item">
            <img src="{% static '' %}images/{{ sponsor1_logo }}" alt="{{ sponsor1_logo_alt }}"
                 class='pt-2 pr-4 bbscr_logo'>
        </li>
    {% endif %}
    {% if sponsor2_logo and sponsor2_logo_alt %}
        <li class="right list-inline-item">
            <img src="{% static '' %}images/{{ sponsor2_logo }}" alt="{{ sponsor2_logo_alt }}"
                 class='sponsor_logos'>
        </li>
    {% endif %}
</ul>

{% block body_block %}
{% endblock %}

{% if footer_show %}
    <footer class="page-footer footer">
        <!--Image-->
        <span>
            {% if footer_logo and footer_logo_alt %}
                <a href="{% url 'met_explore_index' %}">
                    <img src="{% static '' %}images/{{ footer_logo }}" alt="{{ footer_logo_alt }}"
                         class='img-fluid-logos'>
                </a>
            {% endif %}
      </span>
        <span class="footer_text align-middle">
            {{ footer_tagline }}
        </span>
        <span class="p-4 mr-5 float-right">
            <a href="mailto:{{ footer_email }}?Subject=Contact%20Us">Contact us</a>
        </span>
    </footer>
{% endif %}

<script type='text/javascript'>
    const colorScheme = "{{color_scheme}}";
    console.log("The color scheme is " + colorScheme);
</script>
{% render_bundle 'base' 'js' %}
{% block js_block %}
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script> -->

{% endblock %}

</body>
</html>
